*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial;
}

html {
    scroll-behavior: smooth;
}

header{
background-image:url("css/Background-img.jpg");
background-size:cover;
background-position: center;
display: flex;              /* ADD THIS */
flex-direction: column;     /* ADD */
justify-content: center;    /* VERTICAL CENTER */
align-items: center;  
padding: 0;
width: 100%;
text-align: center;
position: relative;
min-height: 100vh;    
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

ul li {
    cursor: pointer;
    font-size: 15px;
}


.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid white;
    margin-bottom: 20px;
}


span {
    font-weight: bold;
}

.hero p {
    margin-top: 10px;
    letter-spacing: 2px;
}

.icons {
    margin-top: 15px;
}

.icons i {
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.connect-btn {
    padding: 12px 25px;
    background: rgb(5, 13, 245);
    color: rgb(243, 242, 246);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background:transparent;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links li a:hover {
    color: #00c3ff;
}


.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    position: relative;
}

.hero-content h1 {
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.role {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .role {
        font-size: 2.5rem;
    }
}

.hero-content h1 span {
    color: white;
    font-weight: bold;
}

.connect-btn {
    margin-top: 10px;
}

.about-section {
    padding: 60px 5%;
    background: #f5f5f5;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: row;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}

.about-text {
    width: 55%;
    padding: 0 10px;
    font-size: 14px;
}

.about-text p {
    line-height: 1.5;
    font-size: 15px;
    text-align: justify;
}

.about-image {
    width: 45%;
    display: flex;
    justify-content: center;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 180px;
}

/* Animation class */
.show {
    opacity: 1;
    transform: translateY(0);
}

.about-text h2 {
    margin-bottom: 20px;
}

.skills-section {
    padding: 50px 5%;
    background: #f5f5f5;
}

.section-title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
}

.skills-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.skill-card {
    background: white;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card h3 {
    font-size: 22px;
    margin-bottom: 15px;
}

.skill-card p {
    line-height: 1.6;
    text-align: left;
}

.skill-card h4 {
    margin-top: 20px;
    font-weight: bold;
}

.skill-card ul {
    padding-left: 20px;
}

.tools-list {
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
}

.tools-text {
    margin-top: 5px;
    font-size: 16px;
}

h4 {
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
}

.tech-list {
    margin-top: 10px;
    padding-left: 20px;
    display: flex;
    gap: 10px;
    list-style: none;
    flex-direction: column; 
}

.tech-list li {
    margin-bottom: 8px;
}

.projects-section {
    padding: 50px 5%;
    background: #ffffff;
}

.projects-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.project-card {
    background: #f5f5f5;
    padding: 20px;
    width: 100%;
    max-width: 100%;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card p {
    line-height: 1.5;
    text-align: left;
    margin-bottom: 16px;
    font-size: 14px;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.project-card h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.project-card h4 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.project-card ul {
    list-style: none;
    padding-left: 20px;
    margin-top: 10px;
}

.project-btn {
    display: block;
    margin-top: 15px;
    padding: 10px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.certificates-section {
    padding: 60px 5%;
    background: #f5f5f5;
    text-align: center;
}

.cert-text {
    margin-bottom: 20px;
}

.cert-btn {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 30px;
    width: 100%;              /* button full width */
    max-width: 250px;
}

.cert-container {
    display: none;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;   /* stack cards */
    align-items: center; 
}

.cert-card {
    background: white;
    padding: 20px;
    width: 90%;
    max-width: 300px; 
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.resume-section {
    padding: 60px 5%;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume-card {
    background: white;
    padding: 25px;
    max-width: 450px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
 /* animation */
    opacity: 0;
    transform: translateY(40px);
    animation: fadeUp 1.2s ease forwards;
}

.resume-title {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
}

.resume-card p {
    line-height: 1.6;
    margin-bottom: 25px;
    font-size: 14px;
}

.resume-buttons {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 20px;
    animation: fadeUp 1.4s ease forwards;
    flex-direction: column; 
}

.resume-btn {
    padding: 10px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
    color: white;
    transition: 0.2s;
    width: 100%;             /* full width buttons */
    text-align: center;
}

.resume-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    transition: 0.2s;
}

.view-btn {
    background: #007bff;
}

.download-btn {
    background: #333;
}


/* Animation Keyframes */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.banner {
    background-image: url(../css/Background-img.jpg);
}

#contact .container {
    max-width: 600px;
    margin: auto;
    width: 100%;
    padding: 0 10px;
}

#contact {
    padding: 60px 5%;
}

#contact input,
#contact textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#contact button {
    background-color: #0d6efd;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
}

.contact-section {
    background-color: #111;
    padding: 60px 5%;
    padding-bottom: 100px;
    color: white;
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 22px;
}

.form-group {
    margin-bottom: 12px;
}

.form-control {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.btn {
    margin-top: 10px;
}

/* Skills Animation */
.skill-hidden-left {
    opacity: 0;
    transform: translateX(-80px) scale(0.9);
    transition: all 0.8s ease;
}

.skill-hidden-right {
    opacity: 0;
    transform: translateX(80px) scale(0.9);
    transition: all 0.8s ease;
}

.skill-show {
    opacity: 1;
    transform: translateX(0) scale(1);
}

/* Hover effect */
.skill-card:hover {
    transform: translateY(-10px) scale(1.03);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
}

.cert-view-btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: 0.3s;
}

.cert-view-btn:hover {
    background: #0056b3;
    transform: scale(1.05);
}


    @media (max-width:768px) {

    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-text,
    .about-image {
        width: 100%;
    }

    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    }

    .skill-card,
    .project-card {
        max-width: 350px;
        width: 100%;
    }

footer {
    text-align: center;
    padding: 20px 10px;
    background: #f5f5f5;
    font-size: 14px;      /* better readability */
    line-height: 1.6;
}

/* HAMBURGER (hidden desktop) */

.menu-toggle {
  display: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
 
}

.nav-links{
  list-style:none;
}

@media (max-width:768px){

.nav-links{
  display:none;
  flex-direction:column;
  background:#0d2a4d;
  position:absolute;
  top:70px;
  right:0;
  width:200px;
  list-style:none;

}

.nav-links.active{
  display:flex;
}

.menu-toggle{

  display:block;
}

}

img {
  width: 100%;
  height: auto;
  display: block;
}

section {
  width: 100%;
  overflow: hidden;
}
